body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.bmi-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.bmi-calculator,
.bmi-result {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 45%;
}

.bmi-calculator h2,
.bmi-result h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.bmi-calculator input,
.bmi-result p {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bmi-calculator button {
  width: 100%;
  background-color: #5c646c;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.cta-section {
  margin-top: 30px;
  text-align: center;
}

.cta-section button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
